In [85]:
import pandas as pd
import matplotlib.pyplot as plt
hpginfo = pd.read_csv('restaurant/hpg_store_info.csv')
hpginfo.tail()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
4685,hpg_c6ed353a48c7c93e,Sichuan food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4686,hpg_a58d2423360b2fb4,Sichuan food,Tōkyō-to Minato-ku Roppongi,35.666137,139.733978
4687,hpg_d2021704076cdd70,Shanghai food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4688,hpg_602472570d65e219,Spain/Mediterranean cuisine,Tōkyō-to Toshima-ku None,35.730068,139.711742
4689,hpg_11801306ce8bfb4f,Udon/Soba,Osaka Prefecture Osaka None,34.701519,135.498859

In [88]:
import csv
import numpy as np
hpg_id = hpginfo.hpg_store_id;
hpg_genre = hpginfo.hpg_genre_name;
hpg_area = hpginfo.hpg_area_name;
list_id = [];
list_genre = [];
list_area = [];
# get store id
for i in range(0,len(hpg_id)):
    if(hpg_id[i] not in list_id):
        list_id.append(hpg_id[i]);
# get genre
for i in range(0,len(hpg_genre)):
    if("genre_"+hpg_genre[i] not in list_genre):
        list_genre.append("genre_"+hpg_genre[i]);
# get area
for i in range(0, len(hpg_area)):
    if("area_"+hpg_area[i] not in list_area):
        list_area.append("area_"+hpg_area[i]);

In [95]:
# write header for csv
with open('new.csv', 'w', encoding='utf-8') as myfile:
    wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
    wr.writerow(list_id);

In [98]:
rows = len(list_id);
cols = len(list_genre)+len(list_area)
hpg_info = np.zeros((rows,cols));
for k in range(0,len(list_id)):
    for i in range(0,len(list_genre)):
        if ("genre_"+hpg_genre[k] == list_genre[i]):
            hpg_info[k,i] = 1;
    for i in range(0,len(list_area)):
        if ("area_"+hpg_area[k] == list_area[i]):
            hpg_info[k,len(list_genre)+i] = 1;

In [99]:
np.savetxt('new.csv', hpg_info, delimiter = ',')

In [101]:
hpg_store_info = pd.read_csv('hpg_store_info_Fromhpgstoreinfo.csv')
hpg_store_info.head()

,store_id,genre_Japanese style,genre_Italian,genre_International cuisine,genre_Grilled meat,genre_Creation,genre_Shabu-shabu/Sukiyaki,genre_Korean cuisine,genre_Creative Japanese food,genre_Japanese cuisine/Kaiseki,...,area_Shizuoka-ken Fujinomiya-shi Wakanomiyachō,area_Niigata-ken Niigata-shi Kurumaba,area_Fukuoka-ken Chikushino-shi Yamaguchi,area_Ōsaka-fu Sakai-shi Kobirao,area_Niigata-ken Nagaoka-shi Rokusho,area_Fukuoka-ken Fukuoka-shi Matsushima,area_Hokkaidō Ashibetsu-shi None,area_Niigata-ken Shibata-shi Miyukichō,latitude,longitude
0,hpg_6622b62385aec8bf,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.643675,139.668221
3,hpg_e51a522e098f024c,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.643675,139.668221
4,hpg_e3d0e1519894f275,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.643675,139.668221