In [4]:
import pandas as pd
import matplotlib.pyplot as plt
airres = pd.read_csv('restaurant/air_reserve.csv')
airres.head(20)

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5
5,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01 16:00:00,2
6,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01 15:00:00,4
7,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-02 14:00:00,2
8,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-01 20:00:00,2
9,air_2b8b29ddfd35018e,2016-01-02 17:00:00,2016-01-02 17:00:00,2
10,air_6b15edd1b4fbb96a,2016-01-02 17:00:00,2016-01-01 22:00:00,3
11,air_6b15edd1b4fbb96a,2016-01-02 17:00:00,2016-01-01 12:00:00,3
12,air_6b15edd1b4fbb96a,2016-01-02 17:00:00,2016-01-02 16:00:00,2
13,air_789466e488705c93,2016-01-02 17:00:00,2016-01-02 17:00:00,6
14,air_789466e488705c93,2016-01-02 17:00:00,2016-01-02 17:00:00,7
15,air_789466e488705c93,2016-01-02 17:00:00,2016-01-02 17:00:00,41
16,air_789466e488705c93,2016-01-02 17:00:00,2016-01-02 17:00:00,13
17,air_2b8b29ddfd35018e,2016-01-02 18:00:00,2016-01-02 17:00:00,2
18,air_6b15edd1b4fbb96a,2016-01-02 18:00:00,2016-01-01 12:00:00,3
19,air_877f79706adbfb06,2016-01-02 18:00:00,2016-01-01 16:00:00,2

In [2]:
import csv
import numpy as np
air_id = airres.air_store_id;
air_date = airres.visit_datetime;
list_id = [];
list_date = []; # 无重复的日期
list_res_date = []; # 所有的日期
# get date
for i in range(0,len(air_date)):
    string_date = air_date[i];
    split_date = string_date.split(' ');
    list_res_date.append(split_date[0]);
    if(split_date[0] not in list_date):
        list_date.append(split_date[0]);

for i in range(0,len(air_id)):
    if(air_id[i] not in list_id):
        list_id.append(air_id[i]);

In [3]:
'''
# get daily reserve visitors of each restuarant
day_vis = np.zeros((len(list_id),len(list_date)));
for k in list_id:
    kk = list_id.index(k)
    for i in list_date:
        ii = list_date.index(i)
        for j in range(0,len(air_id)):        
            for m in range(0,len(list_res_date)):
                if(k == air_id[j] and i == list_res_date[m]):       
                    day_vis[kk,ii] = airres.reserve_visitors[m] + day_vis[kk,ii];  
'''          

# --------------------------------
day_vis = np.zeros((len(list_id),len(list_date)))
for k in range(0, len(air_id)):
    i = 0;
    j = 0;
    while (air_id[k] != list_id[i]) :
        i = i + 1;
        # throw exception
        if (i > len(list_id)):
            print("error i");
    while (list_res_date[k] != list_date[j]):
        j = j + 1;
        # throw exception
        if (j > len(list_date)):
            print("error i");
    day_vis[i,j] = airres.reserve_visitors[k] + day_vis[i,j];

In [12]:
np.savetxt('air_daily_res_visitors.csv', day_vis, delimiter = ',')

In [5]:
len(list_id)

314

In [6]:
with open('new.csv', 'w', newline='') as myfile:
    wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
    wr.writerow(list_id);