In [3]:
import pandas as pd
import matplotlib.pyplot as plt
airres = pd.read_csv('restaurant/air_reserve.csv')
hpgres = pd.read_csv('restaurant/hpg_reserve.csv')
airvis = pd.read_csv('restaurant/air_visit_data.csv')
sample = pd.read_csv('restaurant/sample_submission.csv')
re = pd.read_csv('restaurant/store_id_relation.csv')

In [20]:
import matplotlib.pyplot as plt

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [4]:
re.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

In [16]:
test.columns = ['hpg_store_id', 'visit_datetime', 'reserve_datetime', 'reserve_visitors']

In [ ]:
hpgres = test.merge(hpgres, on)

In [99]:
import re
area = airinfo.air_area_name
l = []
ll = []
for i in range(0,len(area)):
    a = re.split('-| ', area[i])
    l.append(''.join(a))   
for i in range(0,len(l)):
    if(l[i] not in ll):
        ll.append(l[i])

In [111]:
area = pd.read_csv('area_match.csv')

In [121]:
if (hpginfo.hpg_area_name[0] == 'TōkyōtoSetagayakuTaishidō'):
    print('sb')

sb

In [119]:
hpginfo.hpg_area_name[0]

'TōkyōtoSetagayakuTaishidō'

In [120]:
area.head()

,air_area,TōkyōtoSetagayakuTaishidō,HyōgokenHimejishiTsuchiyama,TōkyōtoChūōkuGinza,FukuokakenFukuokashiMinamishō,TōkyōtoSumidakuTachibana,HiroshimakenHiroshimashiHondōri,TōkyōtoNerimakuHikawadai,HyōgokenKōbeshiNone,ŌsakafuŌsakashiShinsaibashisuji,...,HiroshimakenHigashihiroshimashiHachihonmatsuchōYoshikawa,ŌsakafuMinooshiHanjo,ShizuokakenFujinomiyashiWakanomiyachō,NiigatakenNiigatashiKurumaba,FukuokakenChikushinoshiYamaguchi,ŌsakafuSakaishiKobirao,NiigatakenNagaokashiRokusho,FukuokakenFukuokashiMatsushima,HokkaidōAshibetsushiNone,NiigatakenShibatashiMiyukichō
0,HyōgokenKōbeshiKumoidōri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TōkyōtoMinatokuShibakōen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FukuokakenFukuokashiDaimyō,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TōkyōtoSetagayakuSetagaya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ŌsakafuŌsakashiŌgimachi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
import csv
with open('test.csv', 'w', encoding='utf-8') as outcsv:
    writer = csv.writer(outcsv)
    writer.writerow(l);

In [ ]:
# sample submission csv
import csv
import numpy as np
sample_id = sample_submission.id;
list_id = [];
for i in range(0,len(sample_id)):
    split_id = sample_id[i].split("_");
    if(split_id[0]+"_"+split_id[1] not in list_id):
        list_id.append(split_id[0]+"_"+split_id[1]);

# visit date csv
vis_id = airvis.air_store_id;
list_vis_id = [];
for i in range(0,len(vis_id)):
    if(vis_id[i] not in list_vis_id):
        list_vis_id.append(vis_id[i]);

In [ ]:
for i in range(0,len(list_vis_id)):
    if (list_vis_id[i] not in list_id):
        list_id.append(list_vis_id[i]);

In [ ]:
with open('test.csv', 'w') as outcsv:
    writer = csv.writer(outcsv)
    writer.writerow(list_id);

In [ ]:
len(list_id_air)

In [ ]:
import csv
import numpy as np
# get air_store_id
air_id = airres.air_store_id;
air_re_id = storeid.air_store_id;
list_id_air = [];
list_re_id = [];
for i in range(0,len(air_id)):
    if(air_id[i] not in list_id_air):
        list_id_air.append(air_id[i]);

In [ ]:
for i in range(0,len(air_re_id)):
    if (air_re_id[i] not in list_id_air):
        list_id_air.append(air_re_id[i]);

In [ ]:
with open('air_reserve_new.csv', 'w', newline='') as myfile:
    wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
    #wr.writerow(["air_id","total visitors"]);
    wr.writerow(list_id_air);
    wr.writerows(visitors);
temp_csv = pd.read_csv('air_reserve_new.csv');

In [2]:
cd newtables\

C:\Users\tanxi\newtables

In [24]:
import pandas as pd
hpg_res_store = pd.read_csv('hpg_res_store.csv', encoding='latin1', low_memory = False)
air_res_vis_store = pd.read_csv('air_res_vis_store.csv', encoding='latin1')
store_re = pd.read_csv('C:/Users/tanxi/restaurant/store_id_relation.csv',encoding='utf-8')
dateinfo = pd.read_csv('date_info_new.csv')

In [39]:
a = '2016-01-01'

In [20]:
def dateTransfer(x):
    x = x.split('_')[1:4]
    x = '/'.join(x)
    return x

In [21]:
s = 'date_2017_1_10_y'
s = dateTransfer(s)

In [37]:
import csv
with open('test.csv', 'w', newline='') as myfile:
    wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
    wr.writerow(b);

In [41]:
cd

C:\Users\tanxi

In [42]:
import pickle
with open('test.pickle', 'rb') as r:
    a = pickle.load(r)

In [47]:
a = ['1', 'sdlfkj']

In [52]:
dateinfo['2016-01-01'].add('sdlfj')

0                                          2016sdlfj
1                  (6.123233995736766e-17, 1.0)sdlfj
2     (0.8660254037844387, 0.49999999999999994)sdlfj
3    (-0.2225209339563146, -0.9749279121818236)sdlfj
4                                             1sdlfj
5     (0.9795299412524945, 0.20129852008866006)sdlfj
6    (0.9998518392091162, 0.017213356155834685)sdlfj
Name: 2016-01-01, dtype: object

In [48]:
a[0]+'1'

'11'